html {
    background: url(OtherMenu.png) no-repeat center center fixed;
    background-size: cover;
}

#body-container {
    margin: 0 auto;
    max-width: 1000px;
    background: white;
    padding: 20px;
    box-shadow: 10px 10px 5px #000;
}